<main>

  <h1>Support</h1>

  <br>
  <p>OuterLAN provides top-notch 24/4 support, on-call whenever you need us.</p>

  <h2>Pagers</h2>
  <p>
      We have a pager in Faith Lodge you can use to page us and we'll be right there. Follow signs for "OuterLAN Support". Please state your name and issue when paging. 
      By the way, you can use the pager for any level of support, whether it is just a question or a comment, that you had trouble logging in, or that the entire network is down!
      
  </p>
  
  <h2>#support</h2>
  
  <p>You can use the #support channel in the OuterLAN chat to reach us as well.</p>
  
  <br>
  <div class="alert alert-info">
     Please keep in mind that we can't always check the support channel because we might be out hiking, etc. This is why paging is preferred.
  </div>


</main>