<main>
    <h1>Tilde</h1>
    <br>
    <p>A public access unix is available at <code>tilde.outernet</code> for hosting your projects, DNS records, and chatting on the BBS! It's running Ubuntu Server with the Nix package manager.</p>
    <br>
    <div class="alert">
        <strong>Warning!</strong> You must create an OuterLAN Account in order to use the Tilde
    </div>
    
    <h2>Accessing</h2>
    <p>To access the tilde, use SSH on port 22 to <code>tilde.outernet</code> with your OuterLAN Account username. For example, <code>ssh reesericci@tilde.outernet</code>
    </p>

    <h2>Bulletin Board (BBS)</h2>
    <p>To chat on the BBS, run <code>telnet localhost:8888</code> while SSH'ed. The BBS will guide you from there.</p>

    <h2>Package Management</h2>
    <p>You can use a <code>nix-shell</code> or other nix utilities to install something on a user level. If you need something installed on a system level, contact @reesericci on the OuterLAN chat.</p>

    <h2>DNS Records (Domains)</h2>
    <p>Info at <a href="/domains#dns">/domains</a></p>
</main>