<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="<%=is_active('home')%>"><a href="/">Home</a></li>
      <li class="<%=is_active('tilde')%>"><a href="/tilde">Tilde</a></li>
      <li class="<%=is_active('domains')%>"><a href="/domains">Domains</a></li>
      <li class="<%=is_active('support')%>"><a href="/support">Support</a></li>
      <li><a href="https://chat.outernet" target="_blank">Chat ↗</a></li>
    </ul>
  </div>
</div>